@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Vazir.ttf") format("embedded-opentype"),
    url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.woff2") format("woff2");
}

:root {
  --primary-color: #6c5ce7;
  --secondray-color: #a29bfe;
  --success-color: #16a085;
  --yellow-color: #f9ca24;
}

/* Track */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: var(--secondray-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 1rem;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Vazir" !important;
}

/* Ityped Css */
.ityped-cursor {
  font-size: 2.2rem;
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
  -moz-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  100% {
    opacity: 0;
  }
}

.preloader {
  background: url("../images/gifs/preloader.gif") center no-repeat;
  background-color: #f1f2f3;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  z-index: 100;
}


#swBtn {
  display: none;
}

.button {
  display: inline-block;
  width: 80px;
  height: 35px;
  background-color: #fff;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}

.button::after {
  content: url("../images/patterns/sun.svg");
  width: 40px;
  height: 40px;
  background-color: var(--yellow-color);
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: -5px;
  left: 0;
  display: grid;
  place-content: center;
  line-height: 0;
  transition: background-color 1s, transform 1s ease-in;
}

#swBtn:checked + .button::after {
  content: url("../images/patterns/moon.svg");
  background-color: var(--primary-color);
  transform: translateX(40px) rotate(360deg);
}

.dark .layout {
  background-color: #2d3436;
  transition: all 0.3s;
}

/* Override*/
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 2 !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

.form-switch .form-check-input {
  width: 2.5em !important;
  height: 1.5rem !important;
}

.nav-tabs .nav-link {
  color: #000;
  border-right: 3px solid var(--primary-color);
  transition: all 0.3s;
  margin-left: 0.5rem;
}
.nav-tabs .nav-link:hover {
  color: #000;
  border-right: 3px solid #fdcb6e;
}
.nav-tabs .nav-link.active {
  color: #000;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  border-right: 3px solid var(--success-color);
  border-radius: 0.3rem;
}

.btn-primary {
  background-color: var(--secondray-color);
  color: #fff;
  border: 2px solid var(--secondray-color);
  position: relative;
  padding: 0.5rem 0.8rem;
  border-radius: 0.2rem;
}
.btn-primary:hover {
  color: #fff;
  border: 2px solid var(--primary-color);
  position: relative;
  background-color: var(--primary-color);
}
.btn-primary::before,
.btn-primary::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: inherit;
  transition: all 0.5s;
}

.btn-primary::before {
  top: -5px;
  left: -5px;
  border-width: 2px 0 0 2px;
  border-radius: 0.1rem;
}
.btn-primary::after {
  bottom: -5px;
  right: -5px;
  border-width: 0 2px 2px 0;
  border-radius: 0.1rem;
}

.btn-primary:hover::before,
.btn-primary:hover::after {
  width: calc(100% + 5px);
  height: calc(100% + 5px);
}

/* Utilities */
a {
  text-decoration: none;
}

.link-follow {
  transition: all 0.5s;
}
.link-follow:hover {
  margin-right: 1rem;
}

.cellphone {
  direction: ltr !important;
  text-align: right;
}

.lh-0 {
  line-height: 0 !important;
}

.fs-7 {
  font-size: 0.9rem !important;
}

.fs-8 {
  font-size: 0.8rem !important;
}
.fs-9 {
  font-size: 0.7rem !important;
}
.fs-10 {
  font-size: 0.6rem !important;
}

.bg-green {
  background-color: var(--success-color) !important;
}
.bg-green-light {
  background-color: #81ecec !important;
}

.card-primary {
  background-color: #25b8ee;

  padding: 1rem;
  border-radius: 1rem;
}

.border-right {
  border-right: 4px solid #00cec9;
  border-radius: 0.8rem;
  width: fit-content;
  padding: 0.4rem;
  margin-top: 1rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

/* Layout */
.layout {
  background: #f39c12;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  transition: all 0.3s;
}
.child-layout {
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .child-layout {
    margin-top: 1rem;
  }
}

.layout .card {
  border: none;
  background: #f1f2f6;
  border-radius: 1rem !important;
}
/* .dark .layout .card {
  border: none;
  background: #636e72;
  border-radius: 1rem !important;
} */
.layout .card .profile {
  background: url(../images/patterns/profile.png) no-repeat center;
  background-size: cover;
  height: 35rem;
  border-radius: 1rem;
}
.layout .card .profile .social-links ul .social {
  background-color: var(--secondray-color);
  border-radius: 1rem;
  padding: 0.5rem;
  line-height: 0;
  transition: all 0.3s;
}
.layout .card .profile .social-links ul .social:hover {
  background-color: var(--primary-color);
  transform: scale(1.1);
}
.layout .card .profile .social-links i {
  color: #ecf0f1;
}

.layout .card .profile-content {
  background: #fff;
  border-radius: 1rem;
  height: 100%;
}
.layout .card .profile-content .textbox {
  /* background-color: #d35400; */
  border-radius: 0.5rem;
}

.layout #contact .card {
  width: 100%;
}

.layout #worksample .work-icon {
  background-color: var(--success-color);
  padding: 0.3rem;
  color: #fff;
  border-radius: 15px;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout #contact .social-links ul .social {
  background-color: var(--secondray-color);
  border-radius: 1rem;
  padding: 0.5rem;
  line-height: 0;
  transition: all 0.3s;
}
.layout #contact .social-links ul .social:hover {
  background-color: var(--primary-color);
  transform: scale(1.1);
}
.layout #contact .social-links i {
  color: #ecf0f1;
}

.layout #contact input {
  border: none;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  transition: all 0.5s;
}
.layout #contact input:focus {
  border: 1px solid var(--secondray-color);
}

.layout #contact textarea {
  border: none;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  transition: all 0.5s;
}
.layout #contact textarea:focus {
  border: 1px solid var(--secondray-color);
}

/* Media */
@media (max-width: 980px) {
  .layout #contact .card {
    width: 100%;
  }
}
